body {
  font-family: 'Droid Sans', arial, serif;
  font-size: 11pt;
  background: #eeeeee; }

a {
  border: 0;
  text-decoration: none;
  color: #c10; }

.wline {
  background: white;
  height: 25px; }

.hline {
  background: url("../png/hline.png");
  height: 30px; }

#wrapper {
  background: #ffffff;
  width: 1000px;
  margin: auto; }

#header .row {
  background: white;
  height: 125px; }

#logo {
  border: 0;
  margin: 39px 34px;
  padding: 0; }

#redbox {
  background: url("../png/rback.png");
  color: white; }
  #redbox a {
    color: white; }

#lred, #rred {
  height: 240px; }

#container {
  background: url("../png/wback.png"); }

.sidebar {
  font-size: small; }
  .sidebar ul {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold; }
    .sidebar ul li {
      font-weight: normal;
      list-style: none;
      margin: 0 20px;
      border-top: 1px solid #ddd;
      padding: 0; }
      .sidebar ul li a {
        width: auto;
        text-align: right;
        display: block;
        padding: 5px;
        text-decoration: none; }

#footer {
  background: url("../png/wback.png");
  font-size: x-small;
  color: #aaa;
  margin-bottom: 30px;
  padding-bottom: 30px; }

#addr {
  text-align: right;
  padding: 20px; }

#copyright {
  padding: 20px; }
