// test

!family = "'PT Sans', arial, serif"
!fff = #ffffff
!red = #ff1100
!px20 = 20px

body
  :font-family= !family
  :font-size 11pt
  :background #eeeeee

a
  :border 0
  :text-decoration none
  :color #c10

.wline
  :background= !fff
  :height 25px
  
.hline
  :background url("../png/hline.png")
  :height 30px

#wrapper
  :background #ffffff
  :width 1000px
  :margin auto

// Headers

#header
  .row
    :background= !fff
    :height 125px
  ul.nav
    :list-style none
    :float right
    :margin 10px 0
    li
      :padding 0
      :margin 0
      :display table-cell
      :vertical-align middle
      :height 105px
      :min-width 65px
      :border-left 1px dashed #eee
      :text-align center
      &:first-child
        :border none
      a
        &:hover
          :color= !red

#logo
  :border 0
  :margin 39px 34px
  :padding 0

// Redbox
    
#redbox
  :background url("../png/rback.png")
  :color= !fff
  a
    :color= !fff

#lred, #rred
  :height 240px

// Content

#container
  :background url("../png/wback.png")

#content
  :padding-left= !px20

.navigation
  :padding 10px 0
  .nav-next
    :float right
  .nav-previous
    :float left

.sidebar
  :font-size small  
  li
    :list-style none
  ul  
    :margin 0
    :padding 0
    :border none
    :font-weight bold
    li
      :font-weight normal
      :list-style none
      :margin= 0 !px20 0 0
      :border-top 1px dashed #ddd
      :padding 0
      a
        :width auto
        :text-align right
        :display block
        :padding 5px
        :text-decoration none    
        &:hover
          :color= !red
          :background #eee

// Footer

#footer
  :background url("../png/wback.png")
  :font-size x-small
  :color #aaa

#addr
  :text-align right
  :padding= !px20
  b
    :font-size small

#copyright
  :padding= !px20


    